

<h1 class="fontface">Your Easy Cut</h1>
<p class="sub-title">free haircut reservation</p>
<nav id="menu-top">
    <a href="#nogo">Accueil</a>
    <a href="#nogo">Table des matières</a>
    <a href="#nogo">contact</a>
</nav>

