body
{
    width:1280px;
    margin:auto;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

div, h1, form, fieldset, input, textarea
{
    margin: 0; padding:0; border:0; outline:none;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles personnalisé page d'accueil login
-----------------------------------------------------------*/

.MainLogin
{
    position:relative;
    border: none;
    margin-top: 50px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-image:-webkit-linear-gradient(#CFF4FF, white);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

.MainLogin #loginBox
{
    position:absolute;
    top: 50px;
    right: 40px;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    float:right;
    clear:right;
    background-color: white;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.MainLogin #loginBox label
{
    float:left;
    clear:left;
    margin: 4px 20px 0 0;
    width: 100px;
    text-align:right;
}

.MainLogin #loginBox input
{
    width:150px;
    padding: 5px 20px 0 5px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: thin solid black;
}

.MainLogin #loginBox #registerLink
{
    text-decoration:none;
    float:right;
    clear: right;
}

.MainLogin h1
{
    font-size: 100px;
    font-family: aerosol;
    margin: 20px;
    float: left;
    clear:left;
}

.MainLogin p
{
    margin: 20px;
    width: 60%;
}




/* Styles personnalisé menu haut
-----------------------------------------------------------*/

nav#menu-top{
margin-top:50px;
background-color:Gray;
border-radius:5px;
padding:5px;
}

nav#menu-top a{
padding:0 20px;
color:#fff;
text-decoration:none
}

nav#menu-top a:hover{
color:#00ff0f;
}


