body
{
    width:1280px;
    margin:auto;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

div, h1, form, fieldset, input, textarea
{
    margin: 0; padding:0; border:0; outline:0;
}

/* Styles for basic forms
-----------------------------------------------------------*/

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles personnalisé page d'accueil login
-----------------------------------------------------------*/

.MainLogin
{
    border: none;
    margin-top: 100px;
    border-radius: 10px;
    background-color: Gray;
    padding: 10px;
    
}

.MainLogin label
{
    float:left;
    clear:left;
    width: 100px;
    text-align:right;
}


.MainLogin input
{
    width:260px;
    height: 35px;
    padding: 5px 20px 0px 20px;
    margin: 0px 0px 20px 0px; 
}



/* Styles personnalisé menu haut
-----------------------------------------------------------*/

nav#menu-top{
margin-top:50px;
background-color:Gray;
border-radius:5px;
padding:5px;
}

nav#menu-top a{
padding:0 20px;
color:#fff;
text-decoration:none
}

nav#menu-top a:hover{
color:#00ff0f;
}


